body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    padding-left: 205px;
    padding-top: 20px;
}

.content {
    flex-grow: 1;
    padding-left: 100px;
    padding-right: 65px; /* Espaciado lateral */
}
  
/*BOTON VOLVER*/
.volver-link {
    display: block;
    color: #15395A;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .volver-link:hover {
    color: #0D47A1;
    transform: translateX(-5px); /* Añade un pequeño movimiento para hacerlo dinámico */
    text-decoration: underline;
  }
  

.contenido_gen {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mat-toolbar {
    font-size: 1.9rem;
    margin-bottom: 15px;
}

.mat-form-field {
    width: 100%;
}

.reg_boton {
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 25px;
}

.mat-table {
    font-size: 1.1rem;
    width: 100%; /* Asegura que la tabla ocupe el ancho completo */
    margin: 20px 0; /* Espacio arriba y abajo de la tabla */
    border-collapse: collapse; /* Colapsar bordes para un mejor aspecto */
}

/* Asegurar que todas las celdas y encabezados estén centrados */
.mat-cell, .mat-header-cell {
    text-align: center;
    vertical-align: middle;
    display: flex; /* Flexbox para centrar el contenido */
    padding: 10px; /* Espaciado interno */
}

/* Estilizar filas alternas (ya definido, pero mantenido para consistencia) */
.mat-row:nth-child(even) .mat-cell {
    background-color: #f9f9f9;
}


mat-form-field{
    margin-right: 37px;
}

